mixin map-test 
  .wrapper
    .container-fluid 
      .row 
        .col-12.col-md-6 
          .map-action(style="display: flex; flex-direction: column; row-gap: 30px;")
            .map-action__item(data-target="content1")
              i.bi.bi-geo-alt
              p 
                | Label 1
            .map-action__item(data-target="content2")
              i.bi.bi-geo-alt 
              p 
                | Label 2 
            .map-action__item(data-target="content3")
              i.bi.bi-geo-alt 
              p 
                | Label 3
            .map-action__item(data-target="content4")
              i.bi.bi-geo-alt 
              p 
                | Label 4
            .map-action__item(data-target="content5")
              i.bi.bi-geo-alt 
              p 
                | Label 5
            .map-action__item(data-target="content6")
              i.bi.bi-geo-alt 
              p 
                | Label 6
            .map-action__item(data-target="content7")
              i.bi.bi-geo-alt 
              p 
                | Label 7
            .map-action__item(data-target="content8")
              i.bi.bi-geo-alt 
              p 
                | Label 8
            .map-action__item(data-target="content9")
              i.bi.bi-geo-alt 
              p 
                | Label 9
            .map-action__item(data-target="content10")
              i.bi.bi-geo-alt 
              p 
                | Label 10
        .col-12.col-md-6 
          .city-content(style="height: 500px; overflow: auto; display: flex; flex-direction: column; row-gap: 30px;")
            .city-content__item#content1 
              h2 Label 1
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content2 
              h2 Label 2
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content3 
              h2 Label 3
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content4 
              h2 Label 4
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content5 
              h2 Label 5
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content6 
              h2 Label 6
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor
            .city-content__item#content7
              h2 Label 7
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content8
              h2 Label 8
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content9
              h2 Label 9
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content10
              h2 Label 10
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.