mixin map-test 
  .wrapper(style="height: 100vh;")
    .container-fluid 
      .row 
        .col-12.col-md-6 
          .map-action(style="display: flex; flex-direction: column; row-gap: 30px;")
            .map-action__item(data-target="#content1")
              i.bi.bi-geo-alt
              p 
                | Sanfancisco
            .map-action__item(data-target="#content2")
              i.bi.bi-geo-alt 
              p 
                | Califonia 
            .map-action__item(data-target="#content3")
              i.bi.bi-geo-alt 
              p 
                | News Youk
            .map-action__item(data-target="#content4")
              i.bi.bi-geo-alt 
              p 
                | London
            .map-action__item(data-target="#content5")
              i.bi.bi-geo-alt 
              p 
                | Paris
            .map-action__item(data-target="#content6")
              i.bi.bi-geo-alt 
              p 
                | Tokyo
            .map-action__item(data-target="#content7")
              i.bi.bi-geo-alt 
              p 
                | New Delhi
            .map-action__item(data-target="#content8")
              i.bi.bi-geo-alt 
              p 
                | Sydney
            .map-action__item(data-target="#content9")
              i.bi.bi-geo-alt 
              p 
                | Moscow
            .map-action__item(data-target="#content10")
              i.bi.bi-geo-alt 
              p 
                | Beijing
        .col-12.col-md-6 
          .city-content(style="height: 500px; overflow: auto; display: flex; flex-direction: column; row-gap: 30px;")
            .city-content__item#content1 
              h2 Sanfancisco
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content2 
              h2 Califonia
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content3 
              h2 News Youk
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content4 
              h2 London
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content5 
              h2 Paris
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content6 
              h2 Tokyo
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor
            .city-content__item#content7
              h2 New Delhi
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content8
              h2 Sydney
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content9
              h2 Moscow
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.
            .city-content__item#content10
              h2 Beijing
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor. Sed auctor, nisl eget aliquam tincidunt, nunc elit aliquam erat, eget aliquam nunc nisl eget dolor.