*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  outline: none;
  
  &:focus-visible:not([disabled]):not([readonly]) {
    outline: 2px solid $lightBlue;
    outline-offset: 0;
    transition: outline 0s;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  color: #000;
  line-height: 1.4;
  font: {
    family: $font;
    size: 16px;
    weight: 400;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #000;
  transition: color .3s ease;
  text-decoration: none;
  &:hover {
    color: transparentize(#000, 0.2);
  }
}

label {
  &.required {
    &::after {
      content: '*';
      color: #FF0000DE;
      font-size: 16px;
      font-weight: 600;
      margin-left: 3px;
    }
  }
}

.container, .container-xl, .container-lg, .container-md, .container-sm {
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    max-width: 1140px !important;
  }
}

.ui-widget-content .ui-icon {
  // background-image: url("images/ui-icons_444444_256x240.png");
  background-image: url('@/assets/images/icons/ui-icons_444444_256x240.png')
}
.ui-widget-header .ui-icon {
  // background-image: url("images/ui-icons_444444_256x240.png");
  background-image: url('@/assets/images/icons/ui-icons_444444_256x240.png')
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  // background-image: url("images/ui-icons_555555_256x240.png");
  background-image: url('@/assets/images/icons/ui-icons_555555_256x240.png')
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  // background-image: url("images/ui-icons_ffffff_256x240.png");
  background-image: url('@/assets/images/icons/ui-icons_ffffff_256x240.png')
}
.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
  // background-image: url("images/ui-icons_777620_256x240.png");
  background-image: url('@/assets/images/icons/ui-icons_777620_256x240.png')
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  // background-image: url("images/ui-icons_cc0000_256x240.png");
  background-image: url('@/assets/images/icons/ui-icons_cc0000_256x240.png')
}
.ui-button .ui-icon {
  // background-image: url("images/ui-icons_777777_256x240.png");
  background-image: url('@/assets/images/icons/ui-icons_777777_256x240.png')
}