mixin page-not-found
  .container 
    .row 
      .col-12
        .page-not-found-wrapper 
          .page-not-found__image
            img(src=require('@/assets/images/icons/404.png'), alt="404")
          h1.title Page Not Found
          p.desc We're sorry, the page you requested could not be found. Please go back to homepage
          a(href='index.html').btn.btn-primary Go Home