.property-tax-cal-wrapper {
  background: url('@/assets/images/static/tax-bg.png') no-repeat center/cover;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  @media screen and (max-width: 767px) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .title {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    margin-bottom: 15px;
    color: #FFF;
    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }
  .desc {
    font-size: 20px;
    margin-bottom: 30px;
    color: #FFF;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  .custom-btn {
    background: #FFF;
    display: inline-flex;
    align-items: center;
    color: #333333;
    text-transform: uppercase;
    transition: all .3s ease;
    img {
      width: 18px;
      margin-right: 10px;
    }
    &:hover {
      color: $primary;
    }
  }
}