mixin property-tax-calculator
  .property-tax-cal-wrapper 
    .container
      h2.title Property Tax Calculator
      p.desc Calculate government tax for rental and sale purchase
      a(href="property-tax-calculator.html").btn.btn-primary.btn-block.custom-btn
        img(src=require("@/assets/images/icons/calculator.svg")) 
        | Calculate