extends ../layouts/main
include /components/header/header
include /components/page-not-found/page-not-found

block variables
  - const title = '404'
  - const description = 'Page Not Found'

block content
  +header
  .wrapper(style="margin-top: 118px;")
    +page-not-found