extends ../layouts/main
include /components/header/header
include /components/about-info/about-info

block variables
  - const title = 'About Us'
  - const description = 'Royal King Real Estate is a real estate agency in Yangon, Myanmar. We provide a wide range of real estate services including property sales, property rentals, property management, and property development.'

block content
  +header('relative')
  .wrapper
    +about-info