extends ../layouts/main
include /components/header/header
include /components/contact-form/contact-form

block variables
  - const title = 'Contact Rent'
  - const description = 'Contact Rent'

block content
  +header('relative')
  .wrapper
    +contact-form('rent')