extends ../layouts/main
include /components/header/header
include /components/contact-form/contact-form

block variables
  - const title = 'Contact Sale'
  - const description = 'Contact Sale'

block content
  +header
  .wrapper
    +contact-form('sale')