extends ../layouts/main
include /components/header/header
include /components/contact-form/contact-form

block variables
  - const title = 'Contact Rent'
  - const description = 'Contact Rent'

block content
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB7fbPdevYiD3SB3wmlvZ36ubTH3Y--qGE&callback=initMap')
  +header
  .wrapper
    +contact-form('rent')