extends ../layouts/main
include /components/header/header
include /components/detail-banner/detail-banner
include /components/detail-info/detail-info

block variables
  - const title = 'Detail'
  - const description = 'Page description'

block content
  +header
  .wrapper(style="margin-top: 118px;")
    +detail-banner
    +detail-info