extends ../layouts/main
include /components/home-banner/home-banner
include /components/search-tab/search-tab
include /components/news-slider/news-slider
include /components/property-service/property-service
include /components/property-rent/property-rent
include /components/property-sale/property-sale

block variables
  - const title = 'Home'
  - const description = 'Page description'

block content
  .wrapper(style="background: #f5f5f5;")
    +home-banner
    +search-tab
    +news-slider
    +property-service
    +property-rent
    +property-sale