extends ../layouts/main
include /components/header/header
include /components/map-search/map-search
include /components/search-tab/search-tab

block variables
  - const title = 'Property Search'
  - const description = 'Property Search'

block content
  +header
  .wrapper
    +search-tab('search')
    +map-search