extends ../layouts/main
include /components/test/test

block variables
  - const title = 'About Start'
  - const description = 'About description'

block content
  +map-test
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB7fbPdevYiD3SB3wmlvZ36ubTH3Y--qGE&callback=initSearchMap')