.search-form-wrapper {
  .search-form {
    .form-group {
      #search-submit {
        text-transform: uppercase;
        font-weight: 500;
        min-width: 140px;
      }
    }
    .input-group-text {
      border-right: 0 none;
    }
    .form-select {
      &:disabled {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}