.search-form-wrapper {
  .search-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .hide-lg {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
    .search-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 10px;
      column-gap: 10px;
      align-items: center;
      @media screen and (min-width: 1400px) {
        flex-wrap: nowrap;
      }
      .search-col {
        width: 100%;
        @include media-breakpoint-up(sm) {
          width: 48%;
        }
        @include media-breakpoint-up(md) {
          width: 32%;
        }
        @include media-breakpoint-up(lg) {
          width: 23%;
        }
        @include media-breakpoint-up(xl) {
          width: 100%;
        }
        &.hide-sm {
          display: block;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }
    .form-group {
      #search-submit {
        text-transform: uppercase;
        font-weight: 500;
        min-width: 140px;
      }
    }
    .input-group-text {
      border-right: 0 none;
    }
    .form-select {
      &:disabled {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
    .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
      font-weight: 500;
    }
  }
}