include ../price-range/price-range
include ../property-type/property-type
include ../select-state-township/select-state
include ../select-state-township/select-township

mixin search-form(type)
  .search-form-wrapper 
    form.search-form(action='/?', method='get', autocomplete='off')
      input(type='hidden', name='offer', value=type)
      .row
        .col-6.col-sm-4.col-md-4.col-lg-2
          .input-group.icon-left.mb-3
            span#search.input-group-text
              img(src=require("@/assets/images/icons/find.png"))
            input.form-control(name='search', type='text', placeholder='Search By Text', aria-label='Search By Text', aria-describedby='search')
        .col-6.col-sm-4.col-md-4.col-lg-2
          +property-type
        .col-6.col-sm-4.col-md-4.col-lg-2
          +select-state(type)
        .col-6.col-sm-4.col-md-4.col-lg-2
          +select-township(type)
        .col-6.col-sm-4.col-md-4.col-lg-2
          +price-range(type)
        .col-6.col-sm-4.col-md-4.col-lg-2
          .form-group
            button#search-submit.btn.btn-primary.btn-block(type='submit') Search