.no-result-found-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .no-result-found__image {
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .desc {
    font-size: 18px;
    margin-bottom: 25px;
    max-width: 430px;
    text-align: center;
  }
  .btn {
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
  }
}