.header-wrapper {
  &.home {
    height: auto;
  }
  &.not-home {
    height: 114px;
    @media screen and (max-width: 991px) {
      height: auto;
    }
  }
}
.header {
  background: rgba($color: #142535, $alpha: .9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  @include media-breakpoint-down(lg) {
    position: relative !important;
    background: #142535 !important;
  }
  .header__wrapper {
    .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      .navbar-container {
        justify-content: flex-start;
        @media screen and (max-width: 1199px) {
          justify-content: space-between;
        }
        .navbar-brand {
          margin-right: 10px;
          padding: 0;
          @media screen and (min-width: 1400px) {
            margin-right: 100px;
          }
          img.desktop {
            width: 130px;
            transition: all .4s;
            display: none;
            @media screen and (min-width: 992px) {
              display: block;
            }
          }
          img.mobile {
            display: block;
            width: 90px;
            @media screen and (min-width: 992px) {
              display: none;
            }
          }
        }
        .navbar-toggler {
          border: 0 none;
          outline: none;
          padding: 0;
          margin: 0;
          &:focus {
            box-shadow: none !important;
          }
          img {
            width: 28px;
          }
          &:focus {
            box-shadow: 0 0 0 1px;
          }
          .navbar-toggler-icon {
            width: 24px;
            height: 24px;
          }
        }
        .navbar-content-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 30px;
          transition: all .4s;
          padding-top: 15px;
          @include media-breakpoint-up(lg) {
            padding-top: 0;
          }
          .contact-info {
            display: none;
            justify-content: flex-end;
            transition: all .4s;
            @media screen and (min-width: 992px) {
              display: flex;
            }
            .contact-info__item {
              margin-right: 10px;
              font-size: 14px;
              @media screen and (min-width: 1400px) {
                margin-right: 16px;
              }
              a {
                text-decoration: none;
                &:hover {
                  opacity: .8;
                }
              }
              i {
                color: $white;
                margin-right: 15px;
              }
              img {
                width: 20px;
              }
              span {
                color: $white;
              }
              &::after {
                content: "|";
                margin-left: 10px;
                color: $white;
              }
              &:last-child {
                &::after {
                  content: "";
                  margin-left: 0;
                }
              }
            }
          }
          #navbar-content-item {
            position: relative;
            transition: all .4s;
            border-top: 0;
            @include media-breakpoint-up(lg) {
              border-top: 1px solid rgba($color: #FFF, $alpha: .1);
            }
            .navbar-nav {
              justify-content: space-between;
              .nav-item {
                @include media-breakpoint-down(lg) {
                  border-bottom: 1px solid #264664;
                  &:last-child {
                    border-bottom: 0;
                  }
                }
                &.mobile-item {
                  @include media-breakpoint-up(lg) {
                    display: none;
                  }
                  .nav-link {
                    text-transform: none;
                    i, img {
                      margin-right: 15px;
                    }
                  }
                }
                .nav-link {
                  color: $white;
                  font-size: 15px;
                  text-transform: capitalize;
                  padding-right: 10px;
                  padding-left: 10px;
                  padding-top: 13px;
                  @include media-breakpoint-up(xxl) {
                    font-size: 18px;
                    padding-right: 12px;
                    padding-left: 12px;
                  }
                  @include media-breakpoint-down(lg) {
                    padding-right: 0px;
                    padding-left: 0px;
                    padding-bottom: 13px;
                  }
                  &:hover {
                    color: $primary;
                  }
                  &.active {
                    color: $primary;
                  }
                }
                .nav-link.dropdown-toggle {
                  @include media-breakpoint-down(lg) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  }
                }
                .dropdown-toggle.show {
                  position: relative;
                  &::before {
                    content: '';
                    width: 0; 
                    height: 0; 
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom: 12px solid $white;
                    position: absolute;
                    bottom: -20px;
                    left: 45%;
                    transform: translateX(-50%);
                  }
                  @media screen and (max-width: 991px) {
                    &::before {
                      display: none;
                    }
                  }
                }
                .dropdown-menu[data-bs-popper] {
                  top: 135%;
                }
                .dropdown-menu {
                  border-radius: 0;
                  padding: 0;
                  .dropdown-item {
                    padding: 12px 15px 12px 15px;
                    transition: all .3s ease;
                    &:hover {
                      background: transparent;
                      color: $primary;
                      transform: translateX(5px);
                    }
                    &.active {
                      background: transparent;
                      color: $primary;
                    }
                  }
                  .mega-content {
                    padding: 20px;
                    .title {
                      font-weight: 600;
                      font-size: 18px;
                      margin-bottom: 15px;
                      @media screen and (min-width: 992px) {
                        font-size: 20px;
                        margin-bottom: 25px;
                      }
                    }
                    .icon-row {
                      row-gap: 22px;
                    }
                    .icon-wrapper {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      .icon {
                        border: 1px solid #0000001F;
                        border-radius: 10px;
                        padding: 12px;
                        margin-bottom: 10px;
                        img {
                          width: 24px;
                        }
                      }
                      span {
                        font-size: 16px;
                        text-align: center;
                        @media screen and (min-width: 992px) {
                          font-size: 18px;
                        }
                      }
                    }
                    .card {
                      border: 0 none;
                      display: none;
                      img {
                        width: 400px;
                      }
                      @media screen and (min-width: 992px) {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}