include ../property-card/property-card

mixin property-rent
  .property-rent-wrapper 
    .container 
      h2.title Featured Properties For Rent
    .card-lists 
      .container 
        .row.card-lists-row
          .col-12.col-sm-6.col-lg-4 
            +property-card('rent', '', 'month')
          .col-12.col-sm-6.col-lg-4
            +property-card('rent', '', 'month')
          .col-12.col-sm-6.col-lg-4
            +property-card('rent', '', 'month')
          .col-12.col-sm-6.col-lg-4
            +property-card('rent', '', 'month')
          .col-12.col-sm-6.col-lg-4
            +property-card('rent', '', 'month')
          .col-12.col-sm-6.col-lg-4
            +property-card('rent', '', 'month')
