mixin property-service
  .property-service-wrapper
    .container
      .property-service-title
        h2.title Property Services
    .service-card-wrapper
      .container 
        .row.service-card-row
          .col-12.col-md-4
            .service-card 
              .icon 
                img(src=require('@/assets/images/static/buy.png') alt='image')
              .content
                h3.content-title Buy Property
                p.content-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .col-12.col-md-4
            .service-card 
              .icon 
                img(src=require('@/assets/images/static/house.png') alt='image')
              .content
                h3.content-title Rent Property
                p.content-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .col-12.col-md-4
            .service-card 
              .icon 
                img(src=require('@/assets/images/static/buy-home.png') alt='image')
              .content
                h3.content-title Consulting Service
                p.content-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
