mixin contact-form(type)
  .contact-form-wrapper 
    .container
      .row 
        .col-12 
          h1.title Contact For #{type}
          p.desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    .container
      .row
        .col-12
          form
            .info-form.form-wrap
              h3.sub-title Property Information 
              .row 
                .col-12.col-lg-10.offset-lg-1
                  .row
                    .col-12.col-md-6 
                      .mb-3
                        label.form-label.required(for='propertyType') Property Type
                        select#propertyType.form-select(aria-label='Property Type', name='type', required)
                          option(value='') Property Type
                          option(value='1') Condo
                          option(value='2') House
                      .mb-3
                        label.form-label.required(for='price') Price
                        input#price.form-control.isNumber(type='number', name='price', required)
                      if type === 'rent'
                        .check-wrap.mb-3
                          .form-check
                            input#urgentSale.form-check-input(type='checkbox', value='', name='sale_type')
                            label.form-check-label(for='urgentSale')
                              | Urgent Sale
                          .form-check
                            input#needDeposit.form-check-input(type='checkbox', value='', name='sale_type')
                            label.form-check-label(for='needDeposit')
                              | Need Deposit Payment
                        .mb-3
                          label.form-label(for='contract') Contract
                          input#contract.form-control(type='text', name='contract')
                      if type === 'sale'
                        .mb-3
                          label.form-label.required(for='address') Property Address
                          textarea#address.form-control(rows='2', required, name='address')
                      .mb-3
                        label.form-label.required(for='description') Property Description
                        textarea#description.form-control(rows='3', required, name='description')
                    .col-12.col-md-6 
                      if type === 'rent'
                        .mb-3
                          label.form-label.required(for='address') Property Address
                          textarea#address.form-control(rows='2', required, name='address')
                      .mb-3
                        label.form-label(for='location') Map
                        input(type="hidden", name="lat", id="lat")
                        input(type="hidden", name="lng", id="lng")
                        #map
                      if type === 'sale'
                        .mb-3 
                          .form-check
                            input#urgentSale.form-check-input(type='checkbox', value='', name='sale_type')
                            label.form-check-label(for='urgentSale')
                              | Urgent Sale

            .contact-form.form-wrap
              h3.sub-title Contact Information
              .row 
                .col-12.col-lg-10.offset-lg-1
                  .row
                    .col-12.col-md-6 
                      .mb-3
                        label.form-label.required(for='name') Name
                        input#name.form-control(type='text', required, name='name')
                      .mb-3
                        label.form-label.required(for='phone') Phone
                        input#phone.form-control.isNumber(type='number', required, name='phone')
                    .col-12.col-md-6 
                      .mb-3
                        label.form-label(for='email') Email
                        input#email.form-control(type='email', name='email')
                  .btn-wrap 
                    button.btn.btn-secondary(type='reset') Cancel
                    button.btn.btn-primary(type='submit') Send
  
  script.
    let map;
    let markersArray = [];

    // define function to add marker at given lat & lng
    function addMarker(latLng) {
      let marker = new google.maps.Marker({
        map: map,
        position: latLng,
        draggable: true
      });

      //store the marker object drawn on map in global array
      markersArray.push(marker);

      //add event listener to marker to update lat & lng on marker drag
      google.maps.event.addListener(marker, 'dragend', function() {
        document.getElementById('lat').value = this.getPosition().lat();
        document.getElementById('lng').value = this.getPosition().lng();
      });

      //update lat & lng on map click
      document.getElementById('lat').value = latLng.lat();
      document.getElementById('lng').value = latLng.lng();

      //update map center to clicked location
      map.panTo(latLng);

      //update map zoom to 15
      map.setZoom(15);
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 16.8587543, lng: 96.168996 },
        zoom: 10,
      });

      map.addListener('click', function(e) {
        //clear all markers on map
        for (let i = 0; i < markersArray.length; i++) {
          markersArray[i].setMap(null);
        }

        //clear all markers from global array
        markersArray = [];

        //add marker at clicked location
        addMarker(e.latLng);
      });
    }

    window.initMap = initMap;