footer {
  background: url('@/assets/images/static/footer-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #CCC;
  @include media-breakpoint-down(md) {
    background: url('@/assets/images/static/footer-bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top-footer {
    padding-bottom: 30px;
    .top-footer-row {
      row-gap: 30px;
    }
    .footer-logo {
      background: #223241;
      border-radius: 0 0 100px 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 50px 0;
      margin-right: 20px;
      margin-left: 20px;
      @include media-breakpoint-up(xxl) {
        border-radius: 0 0 140px 140px;
      }
      @include media-breakpoint-down(sm) {
        border-radius: 0 0 50% 50%;
      }
      .logo {
        margin-bottom: 22px;
        img {
          width: 200px; 
          @include media-breakpoint-up(xxl) {
            width: 250px;
          }
        }
      }
      .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        img {
          width: 25px;
        }
      }
    }
    .footer-info {
      padding-top: 50px;
      @include media-breakpoint-down(sm) {
        padding-top: 0px;
      }
      .title {
        font-size: 20px;
        margin-bottom: 20px;
        color: #FFF;
        @include media-breakpoint-up(xxl) {
          font-size: 24px;
        }
      }
      p {
        color: #CCCCCC;
        font-size: 16px;
      }
      .contact-info {
        p {
          margin-bottom: 15px;
          display: flex;
          .icon {
            flex: none;
            width: 30px;
            height: 30px;
            display: inline-flex;
            border: 2px solid #FFF;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            i {
              color: #FFF;
            }
          }
          span {
            a {
              color: #CCC;
              text-decoration: underline;
            }
          }
          span.phone {
            a {
              margin-right: 0;
              display: block;
              @include media-breakpoint-up(xxl) {
                display: inline;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
    .mobile-footer {
      display: none;
      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
      }
    }
    .desktop-footer {
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
  .bottom-footer {
    font-size: 16px;
    color: #CCCCCC;
    .bottom-footer-wrapper {
      border-top: 1px solid #777777;
      padding: 25px 0;
      @include media-breakpoint-down(md) {
        border-top: 0 none;
      }
      .bottom-footer-wrapper-row {
        row-gap: 0px;
        @include media-breakpoint-down(md) {
          row-gap: 20px;
        }
      }
    }
    .bottom-footer-row {
      row-gap: 20px;
    }
    .copyright {
      @include media-breakpoint-down(md) {
        border-top: 1px solid #777777;
        padding-top: 20px;
      }
      a {
        color: #ADCE00;
      }
    }
    .footer-menu {
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 767px) {
          justify-content: flex-start;
        }
        li {
          a {
            color: #CCCCCC;
          }
        }
      }
    }
  }
}