include /components/footer/footer

block variables

doctype html
html(lang='en')
  head
    title #{title}
    meta(name="description", content=description)
    include ../utils/metas
    include ../utils/links

  body
    .page-wrapper
      block content
      +footer