.search-tab-wrapper {
  position: relative;
  z-index: 8;
  background: #FFF;
  &.search-tab-wrapper-lg {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  &.search-tab-wrapper-sm {
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;  
    }
  }
  &.home-search-tab {
    background-color: #F5F5F5;
    .nav-tab-wrapper {
      transform: translateY(-15%);
      @include media-breakpoint-up(sm) {
        transform: translateY(-30%);
      }
      @include media-breakpoint-up(lg) {
        transform: translateY(-35%);
      }
      @include media-breakpoint-up(xl) {
        transform: translateY(-40%);
      }
      @include media-breakpoint-up(xxl) {
        transform: translateY(-50%);
      }
      
    }
  }
  .nav-tab-wrapper {
    .nav.nav-search {
      column-gap: 3px;
      .nav-item {
        border-radius: 4px 4px 0 0;
        background: #FFF;
        .nav-link {
          background: #EBEBEB;
          border-radius: 4px 4px 0 0;
          color: #000;
          font-size: 18px;
          padding: 16px 24px;
          min-width: 115px;
          &.active {
            background: #FFF;
            font-weight: 500;
          }
          @include media-breakpoint-down(lg) {
            padding: 8px 12px;
          }
        }
      }
    }
    .tab-content {
      padding: 1rem;
      background: #FFF;
      border-radius: 0 5px 5px 5px;
      transform: translateY(-1px);
      .tab-pane {
        .search-form-title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .search-form-wrapper {
          .search-form {
            .form-group {
              #search-submit {
                text-transform: uppercase;
                font-weight: 500;
                min-width: 140px;
                @include media-breakpoint-down(lg) {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}