.search-tab-wrapper {
  transform: translateY(-50%);
  position: relative;
  z-index: 8;
  @media screen and (max-width: 1199px) {
    transform: translateY(0);
    margin-top: 1rem;
  }
  .nav-tab-wrapper{
    .nav {
      column-gap: 5px;
      .nav-item {
        .nav-link {
          border-radius: 4px 4px 0 0;
          background: #EBEBEB;
          color: #000;
          font-size: 18px;
          padding: 16px 24px;
          min-width: 115px;
          &.active {
            background: #FFF;
            font-weight: 500;
          }
        }
      }
    }
    .tab-content {
      padding: 1rem;
      padding-bottom: 0;
      background: #FFF;
      .tab-pane {
        .search-form-title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .search-form-wrapper {
          .search-form {
            .input-group {
              .input-group-text {
                background: transparent;
                padding-right: 0;
              }
              .form-control, .form-select {
                border-radius: 0 5px 5px 0px;
                border-left: 0 none;
                &:focus {
                  box-shadow: none;
                  border: 1px solid #ced4da;
                  border-left: 0 none;
                }
                &:focus-visible {
                  outline: none;
                }
              }
            }
            .form-group {
              #search-submit {
                text-transform: uppercase;
                font-weight: 500;
                min-width: 140px;
              }
            }
          }
        }
      }
    }
  }
}