include ../search-form/search-form

mixin search-tab
  .search-tab-wrapper
    .container
      .row 
        .col-12
          .nav-tab-wrapper
            ul#pills-tab.nav.nav-search.nav-pills(role='tablist')
              li.nav-item(role='presentation')
                button#pills-sale-tab.nav-link.active(data-bs-toggle='pill', data-bs-target='#pills-sale', type='button', role='tab', aria-controls='pills-sale', aria-selected='true') For Sale
              li.nav-item(role='presentation')
                button#pills-rent-tab.nav-link(data-bs-toggle='pill', data-bs-target='#pills-rent', type='button', role='tab', aria-controls='pills-rent', aria-selected='false') For Rent
            #pills-tabContent.tab-content
              #pills-sale.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-sale-tab', tabindex='0')
                h2.search-form-title Search Property For Sale
                +search-form('sale')
              #pills-rent.tab-pane.fade(role='tabpanel', aria-labelledby='pills-rent-tab', tabindex='0')
                h2.search-form-title Search Property For Rent
                +search-form('rent')
